.custom-footer {
    background-color: @skadden-black;
    color: white;
    padding-top: 50px 0;
}

.custom-footer-disclaimer {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 800px;
}