.custom-header-identity {
	background-color: @skadden-gray;
	border-bottom: 1px solid @skadden-border;
	margin-bottom: 40px;
}

.custom-header-logo {
	display: block;
}

.custom-header-back-url {
	color: @skadden-red;
	font-weight: 700;
	font-size: 20px;
	margin-left: 20px;

	&:hover {
		color: @skadden-black;
	}

	&:before {
		content: "❮";
		display: inline-block;
		margin-right: 10px;
		font-size: 20px;
	}
}



.custom-header-login-prompt {
	text-align: center;
    font-size: 26px;
    font-weight: 300;
    margin-top: 10%;
}